
# This format file is made especially for clang-format-9

---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 160
---
Language: Cpp
Standard: Cpp11

# Don't fuck with my includes
SortIncludes: false

# Don't fuck with my using declarations either
SortUsingDeclarations: false

# Tune some indentations
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8

# General Space Configuration
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpaceAfterTemplateKeyword: true
SpaceAfterCStyleCast: true
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# No block and its body should EVER be on a single line
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Functions
IndentWrappedFunctionNames: false
AlwaysBreakAfterReturnType: None
BreakConstructorInitializers: AfterColon

# Switch
IndentCaseLabels: false

# Better C++11 support
Cpp11BracedListStyle: true

# Avoid too many empty lines
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

# Templates should always be on a separate line
AlwaysBreakTemplateDeclarations: true

# Nice alignement
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignAfterOpenBracket: Align
BinPackParameters: false
BinPackArguments: false

# Improve ternary operators alignement
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: NonAssignment

# Tabs are bad news
UseTab: Never

# Configure comments
AlignTrailingComments: true
SpacesBeforeTrailingComments: 1

# Avoid empty lines
KeepEmptyLinesAtTheStartOfBlocks: false

# Force pointers to the type
DerivePointerAlignment: false
PointerAlignment: Left

# Strings
BreakStringLiterals: false

# Namespaces
NamespaceIndentation: None
CompactNamespaces: false
FixNamespaceComments: true
