[submodule "make-utils"]
	path = make-utils
	url = https://github.com/wichtounet/make-utils.git
	branch = master
[submodule "etl"]
	path = etl
	url = https://github.com/wichtounet/etl.git
	branch = master
[submodule "mnist"]
	path = mnist
	url = https://github.com/wichtounet/mnist.git
	branch = master
[submodule "nice_svm"]
	path = nice_svm
	url = https://github.com/wichtounet/nice_svm.git
[submodule "cifar-10"]
	path = cifar-10
	url = https://github.com/wichtounet/cifar-10.git
[submodule "doctest"]
	path = doctest
	url = https://github.com/onqtam/doctest.git
